.p1 {
  margin-left: 10%;
  margin-right: 10%;
}
.navbar-brand {
  margin-right: 10%;
}

.nanav {
  justify-content: center;
}

.line {
  margin-left: 5%;
  margin-right: 5%;
}
.content3 {
  margin-left: 18%;
  margin-right: 18%;
}
.content-line {
  margin-left: 18%;
  margin-right: 50%;
}
